<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="jdbcTypeForNull" value="NULL" />
        <setting name="callSettersOnNulls" value="true" />
    </settings>

    <typeAliases>
        <typeAlias alias="map" type="java.util.Map" />
        <typeAlias alias="camelMap" type="com.exciform.portal.common.util.CamelMap" />
    </typeAliases>

    <!-- 라이브러리 안쓰고 쿼리 이쁘게 작업하기 위한 인터셉터를 이용. -->
    <!--<plugins>-->
        <!--<plugin interceptor="portal.component.dao.DAOInterceptor" />-->
    <!--</plugins>-->
</configuration>
